*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log

.DS_Store
secrets.yml
spec/fixtures/*.yml
spec/fixtures/strains/*.yml
spec/fixtures/locations/*.yml
