---
http_interactions:
- request:
    method: get
    uri: http://data.leafly.com/strains/la-confidential/reviews?page=0&take=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 0a2cc396
      App-Key:
      - c4d354cbb934c6c99f9db4692167fdd1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 22 Mar 2015 17:38:02 GMT
    body:
      encoding: UTF-8
      string: '{"reviews":[{"id":333636,"username":"SKing187","text":"I just picked
        up some L.A. Confidential. I have to say Oh my God! I had this strain before
        but it was the green and red hair pheno.. This pheno I got yesterday is the
        purple pheno and let me tell you. The smell is of a pungent,skunk,sourgrape,fuel.
        It tastes as it smells. Not harsh or too pungent tasting.. the high is a bit
        of a kick in the face after smoking the whole spiff.. I give a 5 out of 5!
        Cheers","dateAdded":"\/Date(1426781666427)\/","rating":5,"starImage":"http://d3odcnigi1nnzz.cloudfront.net/stars/5/240?color=fcc91d","locationSlug":null,"locationName":null,"avatar":"http://d3odcnigi1nnzz.cloudfront.net/profile/sking187/avatar/300"},{"id":333386,"username":"mrs420snackpack","text":"I
        liked flavor just not a fan of falling asleep during day lol","dateAdded":"\/Date(1426668810653)\/","rating":4,"starImage":"http://d3odcnigi1nnzz.cloudfront.net/stars/4/240?color=fcc91d","locationSlug":null,"locationName":null,"avatar":"http://d3odcnigi1nnzz.cloudfront.net/profile/mrs420snackpack/avatar/300"},{"id":333038,"username":"RonDawg","text":"Kicks
        my an[...]
