---
http_interactions:
- request:
    method: post
    uri: http://data.leafly.com/strains
    body:
      encoding: UTF-8
      string: '{"search":"","page":0,"take":10}'
    headers:
      App-Id:
      - 0a2cc396
      App-Key:
      - c4d354cbb934c6c99f9db4692167fdd1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 22 Mar 2015 17:38:00 GMT
    body:
      encoding: UTF-8
      string: "{\r\n  \"sl_translate\": \"DisplayCategory,DisplayLabel\",\r\n  \"Strains\":
        [\r\n    {\r\n      \"Id\": 75,\r\n      \"UrlName\": \"blue-dream\",\r\n
        \     \"Name\": \"Blue Dream\",\r\n      \"Category\": \"Hybrid\",\r\n      \"DisplayCategory\":
        \"Hybrid\",\r\n      \"Symbol\": \"Bd\",\r\n      \"RatingCount\": 5234,\r\n
        \     \"ReviewCount\": 3083,\r\n      \"Rating\": 8.39,\r\n      \"StarImage\":
        \"http://d3odcnigi1nnzz.cloudfront.net/stars/4.2/240?color=fcc91d\",\r\n      \"Tags\":
        [\r\n        {\r\n          \"Id\": \"LogTags-happy\",\r\n          \"Category\":
        0,\r\n          \"Name\": \"Happy\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"Happy\"\r\n        },\r\n        {\r\n          \"Id\": \"LogTags-relaxed\",\r\n
        \         \"Category\": 0,\r\n          \"Name\": \"Relaxed\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Relaxed\"\r\n        },\r\n        {\r\n
        \         \"Id\": \"LogTags-euphoric\",\r\n          \"Category\": 0,\r\n
        \         \"Name\": \"Euphoric\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"Euphoric\"\r\n        },\r\n        {\r\n          \"Id\": \"LogTags-uplifted\",\r\n
        \         \"Category\": 0,\r\n          \"Name\": \"Uplifted\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Uplifted\"\r\n        },\r\n        {\r\n
        \         \"Id\": \"LogTags-creative\",\r\n          \"Category\": 0,\r\n
        \         \"Name\": \"Creative\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"Creative\"\r\n        }\r\n      ],\r\n      \"NegativeEffects\": [\r\n
        \       {\r\n          \"Id\": \"LogTags-dry-mouth\",\r\n          \"Category\":
        4,\r\n          \"Name\": \"Dry Mouth\",\r\n          \"Active\": true,\r\n
        \         \"DisplayLabel\": \"Dry Mouth\"\r\n        },\r\n        {\r\n          \"Id\":
        \"LogTags-dry-eyes\",\r\n          \"Category\": 4,\r\n          \"Name\":
        \"Dry Eyes\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"Dry Eyes\"\r\n        },\r\n        {\r\n          \"Id\": \"LogTags-paranoid\",\r\n
        \         \"Category\": 4,\r\n          \"Name\": \"Paranoid\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Paranoid\"\r\n        },\r\n        {\r\n
        \         \"Id\": \"LogTags-dizzy\",\r\n          \"Category\": 4,\r\n          \"Name\":
        \"Dizzy\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\": \"Dizzy\"\r\n
        \       },\r\n        {\r\n          \"Id\": \"LogTags-headache\",\r\n          \"Category\":
        4,\r\n          \"Name\": \"Headache\",\r\n          \"Active\": true,\r\n
        \         \"DisplayLabel\": \"Headache\"\r\n        }\r\n      ],\r\n      \"Flavors\":
        [\r\n        {\r\n          \"Id\": \"LogTags-sweet\",\r\n          \"Category\":
        3,\r\n          \"Name\": \"Sweet\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"Sweet\"\r\n        },\r\n        {\r\n          \"Id\": \"LogTags-blueberry\",\r\n
        \         \"Category\": 3,\r\n          \"Name\": \"Blueberry\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Blueberry\"\r\n        },\r\n        {\r\n
        \         \"Id\": \"LogTags-berry\",\r\n          \"Category\": 3,\r\n          \"Name\":
        \"Berry\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\": \"Berry\"\r\n
        \       },\r\n        {\r\n          \"Id\": \"LogTags-earthy\",\r\n          \"Category\":
        3,\r\n          \"Name\": \"Earthy\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"Earthy\"\r\n        },\r\n        {\r\n          \"Id\": \"LogTags-pungent\",\r\n
        \         \"Category\": 3,\r\n          \"Name\": \"Pungent\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Pungent\"\r\n        }\r\n      ],\r\n
        \     \"Symptoms\": [\r\n        {\r\n          \"Id\": \"LogTags-stress\",\r\n
        \         \"Category\": 1,\r\n          \"Name\": \"Stress\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Stress\"\r\n        },\r\n        {\r\n
        \         \"Id\": \"LogTags-depression\",\r\n          \"Category\": 1,\r\n
        \         \"Name\": \"Depression\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"Depression\"\r\n        },\r\n        {\r\n          \"Id\": \"LogTags-pain\",\r\n
        \         \"Category\": 1,\r\n          \"Name\": \"Pain\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Pain\"\r\n        },\r\n        {\r\n
        \         \"Id\": \"LogTags-insomnia\",\r\n          \"Category\": 1,\r\n
        \         \"Name\": \"Insomnia\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"Insomnia\"\r\n        },\r\n        {\r\n          \"Id\": \"LogTags-headaches\",\r\n
        \         \"Category\": 1,\r\n          \"Name\": \"Headaches\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Headaches\"\r\n        }\r\n      ],\r\n
        \     \"Conditions\": [\r\n        {\r\n          \"Id\": \"LogTags-anxiety\",\r\n
        \         \"Category\": 2,\r\n          \"Name\": \"Anxiety\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Anxiety\"\r\n        },\r\n        {\r\n
        \         \"Id\": \"LogTags-addadhd\",\r\n          \"Category\": 2,\r\n          \"Name\":
        \"ADD/ADHD\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\":
        \"ADD/ADHD\"\r\n        },\r\n        {\r\n          \"Id\": \"LogTags-migraines\",\r\n
        \         \"Category\": 2,\r\n          \"Name\": \"Migraines\",\r\n          \"Active\":
        true,\r\n          \"DisplayLabel\": \"Migraines\"\r\n        },\r\n        {\r\n
        \         \"Id\": \"LogTags-ptsd\",\r\n          \"Category\": 2,\r\n          \"Name\":
        \"PTSD\",\r\n          \"Active\": true,\r\n          \"DisplayLabel\": \"PTSD\"\r\n
        \       },\r\n        {\r\n          \"Id\": \"LogTags-bipolar-disorder\",\r\n
        \         \"Category\": 2,\r\n          \"Name\": \"Bipolar Disorder\",\r\n
        \         \"Active\": true,\r\n          \"DisplayLabel\": \"Bipolar Disorder\"\r\n
        \       }\r\n      ],\r\n      \"permalink\": \"http://www.leafly.com/hybrid/blue-dream\",\r\n
        \     \"SortName\": \"Blue Dream\",\r\n      \"LogTags\": [\r\n        \"happy\",\r\n
        \       \"relaxed\",\r\n        \"euphoric\",\r\n        \"uplifted\",\r\n
        \       \"creative\",\r\n        \"dry-mouth\",\r\n        \"dry-eyes\",\r\n
        \       \"paranoid\",\r\n        \"dizzy\",\r\n        \"headache\",\r\n        \"sweet\",\r\n
        \       \"blueberry\",\r\n        \"berry\",\r\n        \"earthy\",\r\n        \"pungent\",\r\n
        \       \"stress\",\r\n        \"depression\",\r\n        \"pain\",\r\n        \"insomni[...]
